<a href="https://colab.research.google.com/github/2303A52451/23CSBTB50/blob/main/2303A52451_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lst=(1,2,3,4)
print(lst)
print(type(lst))

(1, 2, 3, 4)
<class 'tuple'>

In [2]:
lst2={1,2,3,4}
print(lst2)
print(type(lst2))

{1, 2, 3, 4}
<class 'set'>

In [3]:
lst3=[1,2,3,4]
print(lst3)
print(type(lst3))

[1, 2, 3, 4]
<class 'list'>

In [4]:
lst5="Saathi"
print(lst5)
print(type(lst5))

Saathi
<class 'str'>

In [5]:
lst6={"a":1,"b":2,"c":3,"d":4}
print(lst6)
print(type(lst6))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'>

In [6]:
import numpy as np
a=np.array([1,2,3,4,5,6,7,8])
print(a)
print(type(a))

[1 2 3 4 5 6 7 8]
<class 'numpy.ndarray'>